*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#main{
    margin-top: 100px;
}
#img1{
    height: 500px;
}
.backg{
    background: url('../media/hero-bcg.a876f19f6786a3aca992.jpeg') no-repeat center center/cover;
    min-height: 200px !important;
}
